doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("/assets/lib/@loadingio/transition.css/main/transition.min.css")
    +css("/assets/lib/@plotdb/layout/dev/index.min.css")
    +css("/css/index.css")
    style(type="text/css"): :stylus

      .pdl-cell
        padding: 1em
      svg
        width: 100%
        height: 100%
        background: rgba(0,0,0,.1)

      .pdl-layout > [data-type=layout]
        display: grid
        grid-template-columns: 6em 1fr 12em
        grid-template-rows: 1fr 4em 4em
      .pdl-layout .bg-secondary
        grid-column: 3
        grid-row: 1 / span 2
      .pdl-layout .bg-success
        grid-column: 1 / span 3
        grid-row: 3

  body
    .w-100.h-100.p-4
      .w-100.h-100.pdl-layout
        .bg-light.border.rounded(data-type="layout",data-debug="true")
          .bg-danger.pdl-cell(data-name="yaxis")
          .bg-dark.pdl-cell(data-name="view")
          .bg-secondary.pdl-cell.vertical-center(style="align-content:center;justify-content:center;",data-name="legend")
            //-div
              .m-2.d-inline-block.d-flex(style="line-height:1em;min-height:1.5em",ld-each="legend")
                .d-inline-block.mr-2.pdl-cell.p-0.bg-dark.rounded-circle(ld="shape",data-only,style="flex:0 0 auto;width:1em;height:1em")
                span.pdl-cell.p-0(ld="text",data-only)

          .bg-info.pdl-cell
          .bg-primary.pdl-cell(data-name="xaxis")
          .bg-success.pdl-cell.d-flex.justify-content-center.flex-wrap(data-name="legend-bottom")
            .d-flex.mr-2.mb-2.align-items-center(ld-each="legend",style="min-width:5em;line-height:1em;")
              .pdl-cell.mr-2(ld="shape",
              style="padding:0;flex:0 0 1em;background:#000;border-radius:50%;width:1em;height:1em",data-only)
              .pdl-cell(style="padding:0",ld="text",data-only)
        div(data-type="render")
          svg
            g.pdl-cell(data-name="view"): rect(ld-each="data")
            g.pdl-cell(data-name="legend"): g(ld-each="legend")
              g(ld="shape")
              g(ld="text")
            g.pdl-cell(data-name="legend-bottom"): g(ld-each="legend")
              g(ld="shape")
              g(ld="text")

    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    +script("/assets/lib/@loadingio/debounce.js/main/index.min.js")
    +script("/assets/lib/wrap-svg-text/main/index.min.js")

    +script("https://d3js.org/d3.v4.js")
    +script("https://d3js.org/d3-format.v2.min.js")
    +script("https://d3js.org/d3-array.v2.min.js")
    +script("https://d3js.org/topojson.v2.min.js")
    +script("https://d3js.org/d3-color.v1.min.js")
    +script("https://d3js.org/d3-interpolate.v1.min.js")
    +script("https://d3js.org/d3-scale-chromatic.v1.min.js")
    +script("https://d3js.org/d3-dispatch.v2.min.js")
    +script("https://d3js.org/d3-quadtree.v2.min.js")
    +script("https://d3js.org/d3-timer.v2.min.js")
    +script("https://d3js.org/d3-force.v2.min.js")

    +script("/assets/lib/@plotdb/layout/dev/index.js")
    //-+script("/js/pd-legend.js")
    +script("/js/index.js")

